streamlit==1.31.0
python-dotenv==1.0.0
requests==2.31.0
python-socketio==5.9.0
fastapi==0.103.1
uvicorn==0.23.2
flask==2.3.3
flask-socketio==5.3.6
flask-cors==4.0.0
websockets==11.0.3
uuid==1.30 
dotenv